nav {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 10px;
}

nav a:first-child {
  margin-left: 0;
}

.banner {
  background-color: #ffc107;
  color: white;
  padding: 20px;
  text-align: center;
}

.banner h1 {
  font-size: 36px;
  margin-bottom: 0;
}

.banner h4 {
  font-size: 18px;
  margin-top: 0;
}

.content {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-size: 18px;
  line-height: 1.5;
}
